h5 {
    font-weight: 300;
    color: darkslategray;
}

h6 {
    color:lightslategray;
}

h3 {
    padding: 1rem;
}

p {
    padding: 0.5rem;
}

.navbar {
    background-color: rgba(36, 70, 240, 1);
    margin-bottom: 20px;
    max-height: 10vh;
}

.nav-link {
    color: rgba(255,255,255,0.5); 
}

.nav-link:hover {
    color: white;
}

.footer {
    background-color: rgba(36, 70, 240, 1);
    color: white;
    position: relative;
    bottom: 0;
    max-height: 8vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.contact-form {
    width: 80%;
}

.on-top {
    z-index: 9;
}

.cookie-warning {
    background: whitesmoke;
    color: darkslategray
}

.trim {
    display: inline-block
}

.small-link {
    font-size: 10px;
}

.changelang-navbar {
    height: 64px;
    line-height: 42px;
    text-align: center;
    align-content: center;
}

.breadcrumb {
    background-color: rgba(36, 70, 240, 1);
    color: white;
}

.breadcrumb-item {
    color: white;
}


.text-link {
    color: #007bff;
}

.text-link:hover {
    color: rgba(36, 70, 240, 1);
}

a {
    color: rgba(255,255,255,0.5);
}

a:hover {
    color: white;
    text-decoration: none;
}