body {
    margin: 20px 0;
    padding: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #202020;
    background-color: #fbfbfb;
}

h5 {
    font-weight: 300;
    color: darkslategray;
}

h6 {
    color:lightslategray;
}

.navbar {
    background-color: rgba(51, 129, 255, 0.8);
    margin-bottom: 20px;
}

.contact-form {
    width: 80%;
}

.on-top {
    z-index: 9;
}

.cookie-warning {
    background: whitesmoke;
    color: darkslategray
}

.trim {
    display: inline-block
}